.productdisplay{
    display: flex;
    margin: 0px 150px;
}
.productdisplay-left {
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-img-list img{
    height: 150px;
}
.productdisplay-main-img{
    width: 400px;
    height: 480px;
}
.productdisplay-right{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 600;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
}
.productdisplay-oldprice{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-newprice{
    color: #ff004f;
}
.productdisplay-right-size h1{
  margin: 20px;
  color: #656565;font-size: 20px;
  font-weight: 600;
}
.right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.right-category{
    margin-top: 3px;
}
.right-category span{
    font-weight: 600;
}